<!DOCTYPE html>
<html>
<head>
  <style>
    .error {
        color: red;
    }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.17.0"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>
<body>
  <div id="vis"></div>
  <script>
    (function(vegaEmbed) {
      var spec = {"config": {"view": {"continuousWidth": 400, "continuousHeight": 300}}, "data": {"name": "data-bf583c58ad9bdd679a81de878d6769c4"}, "mark": "bar", "encoding": {"color": {"condition": {"value": "red", "test": "(datum.y > 1)"}, "value": "green"}, "opacity": {"value": 0.5}, "size": {"value": 24}, "x": {"field": "x", "title": "Hour (24 Hour Time)", "type": "nominal"}, "y": {"field": "y", "title": "Minutes", "type": "quantitative"}}, "height": 500, "title": "Bus Time Forcast (Next Five Hours) from CRI Deck to Duke Centennial Hall East", "width": 1000, "$schema": "https://vega.github.io/schema/vega-lite/v4.17.0.json", "datasets": {"data-bf583c58ad9bdd679a81de878d6769c4": [{"x": 13, "y": 1}, {"x": 14, "y": 1}, {"x": 15, "y": 1}, {"x": 16, "y": 1}, {"x": 17, "y": 1}, {"x": 18, "y": 1}]}};
      var embedOpt = {"mode": "vega-lite"};

      function showError(el, error){
          el.innerHTML = ('<div class="error" style="color:red;">'
                          + '<p>JavaScript Error: ' + error.message + '</p>'
                          + "<p>This usually means there's a typo in your chart specification. "
                          + "See the javascript console for the full traceback.</p>"
                          + '</div>');
          throw error;
      }
      const el = document.getElementById('vis');
      vegaEmbed("#vis", spec, embedOpt)
        .catch(error => showError(el, error));
    })(vegaEmbed);

  </script>
</body>
</html>