<!DOCTYPE html>
<html lang="en">
<head>
<title>Niner Routes</title>
<!--W3 is credited for the skeleton outline of html code with regards to the CSS implemented -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Styling.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

#map{
              height: 750px;
              width: 1000px;
              margin: 5rem auto;
          }
</style>
</head>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
      href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large w3-white" id="home">Home</a>
    <a href="{{ url_for('routes') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Routes</a>
    <a href="{{ url_for('time_calculator') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Time
      Calculator</a>
    <a href="{{ url_for('route_updates') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Route
      Updates</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ url_for('routes') }}" class="w3-bar-item w3-button w3-padding-large">Routes</a>
    <a href="{{ url_for('time_calculator') }}" class="w3-bar-item w3-button w3-padding-large">Time Calculator</a>
    <a href="{{ url_for('route_updates') }}" class="w3-bar-item w3-button w3-padding-large">Route Updates</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Niner Routes</h1>
  <p class="w3-xlarge">Helping Pave the Way for Niner Nation!</p>
</header>

<!-- First Grid -->
<div class="w3-container w3-green w3-center w3-padding-64">
  <p class="w3-margin w3-xlarge">Niner Routes is here to help you find the best average times between two given routes.
    If you're wondering whether to take the gold route or silver route today, we got you covered!
    Just head on over to the "Time Calculator" page and start calculating time right away!
    Our "Route Updates" page will keep you updated on what is the busiest times and running hours for each bus
    so you can work around your schedule and never worry about missing a bus again. If you are interested
    look below to our interactive map of the campus! You are able to see exactly where each building is placed
    along with the associated route! So go ahead, get comfortable and enjoy every Niner Routes has to 
    offer. Go Niners!
  </p>
</div>
<div class = "place">
<div id="map"></div>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<script src="/static/js/map.js"></script>  
</div>


<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">For more information please visit the UNCC Campus or website!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <img src = "/static/UNC.jpg">
 </div>
 <p>Inspired by <a href="https://www.charlotte.edu/" target="_blank">UNC Charlotte</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>