<!DOCTYPE html>
<html lang="en">
<head>
<title>Route Updates</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Styling.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{{ url_for('routes') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Routes</a>
    <a href="{{ url_for('time_calculator') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Time Calculator</a>
    <a href="{{ url_for('route_updates') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Route Updates</a>
   
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ url_for('routes') }}" class="w3-bar-item w3-button w3-padding-large">Routes</a>
    <a href="{{ url_for('time_calculator') }}" class="w3-bar-item w3-button w3-padding-large">Time Calculator</a>
    <a href="{{ url_for('route_updates') }}" class="w3-bar-item w3-button w3-padding-large">Route Updates</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo"> Routes </h1>
  <p class="w3-xlarge">Here You Can Find Buildings and The Respective Routes Alongside Them!</p>
  <a href = "{{ url_for('home') }}" class = "w3-button w3-black w3-padding-large w3-large w3-margin-top">Home</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Gold</h1>
    </div>
    <select name="gRoutes" id="gRoutes">
      <option value="lightrail">Wallis Hall/Light Rail</option>
      <option value="studenthealth">FM/PPS/Stuent Health East</option>
      <option value="fretwell">Fretwell South</option>
      <option value="cato">Cato Hall South</option>
      <option value="robinson">Robinson Hall South</option>
      <option value="levine">Levine Hall West</option>
      <option value="hunt">Hunt Hall</option>
      <option value="alumni">Alumni Way West</option>
      <option value="reese">Reese East</option>
      <option value="robinson">Robinson Hall North</option>
      <option value="cato">Cato Hall North</option>
      <option value="fretwell">Fretwell North</option>
      <option value="science">Science Building</option>
      <option value="studentu">Student Union West</option>
      <option value="belk">Belk Hall North</option>
    </select>

    <a href="{{ url_for('time_calculator') }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Go!</a>
    
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    

    <div class="w3-twothird">
      <h1>Green</h1>
    </div>

    <a href="{{ url_for('time_calculator') }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Go!</a>

  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Silver</h1>
     
    </div>

    <a href="{{ url_for('time_calculator') }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Go!</a>

  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">For more information please visit the UNCC Campus or website!</h1>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <button>Click me</button>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <img src = "/static/UNC.jpg">
 </div>
 <p>Inspired by <a href="https://www.charlotte.edu/" target="_blank">UNC Charlotte</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>